html {
  @apply text-base bg-gray-200 dark:bg-gray-900 text-gray-900 dark:text-gray-50 h-full;
}

body, #__next {
  @apply h-full;
}

@layer components {
  p, ul, ol, li {
    @apply text-gray-900 dark:text-gray-50;
  }

  a {
    @apply font-semibold;
  }

  h6 {
    @apply text-base font-bold text-gray-900 dark:text-gray-50;
  }

  h5 {
    @apply text-lg font-bold text-gray-900 dark:text-gray-50;
  }

  h4 {
    @apply text-xl font-bold text-gray-900 dark:text-gray-50;
  }

  h3 {
    @apply text-2xl font-bold text-gray-900 dark:text-gray-50;
  }

  h2 {
    @apply text-xl md:text-3xl font-bold text-gray-900 dark:text-gray-50;
  }

  h1 {
    @apply text-3xl md:text-4xl font-bold text-gray-900 dark:text-gray-50;
  }

  img {
    @apply max-w-full;
  }

  .token-row {
    @apply flex items-center bg-white dark:bg-gray-800 pl-3 pr-1 sm:pl-4 sm:pr-2 rounded-lg shadow-md;
  }

  .container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
  }

  .chart-btn {
    @apply py-1 px-2 rounded-lg text-sm mr-1 focus:outline-none dark:hover:bg-gray-600 dark:hover:text-gray-400;
  }

  .chart-btn-selected {
    @apply text-gray-100 dark:text-gray-200 shadow-sm font-bold bg-gray-500 dark:bg-gray-600;
  }

  .chart-btn-unselected {
    @apply text-gray-600 dark:text-gray-400 font-medium bg-gray-300 dark:bg-gray-800;
  }
}